<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121331479216-3rcc5qjjol37229aks2fkrtt15qiatk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121331479216-3rcc5qjjol37229aks2fkrtt15qiatk6</string>
	<key>API_KEY</key>
	<string>AIzaSyC73Ws5aiLD_HllRLfDZvxqzCay9UhMcAs</string>
	<key>GCM_SENDER_ID</key>
	<string>121331479216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ram.News-Connected-Network</string>
	<key>PROJECT_ID</key>
	<string>news-connected-network</string>
	<key>STORAGE_BUCKET</key>
	<string>news-connected-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121331479216:ios:7ee1d0c6445ca5a0094175</string>
</dict>
</plist>